#plasmo-shadow-container {
  position: relative;
  z-index: 2147483647;
}

.plasmo-csui-container {
  position: absolute;
  top: 0;
  right: 0;
}

.test {
  position: fixed;
  width: 150px;
  height: 200px;
  border: 1px solid #000;
  background-color: #e5e5e5;
}

.test > .info {
  font-size: 16px;
}